#root { 
    --dark-gray: rgb(24, 24, 24);
}

.render{
    width:20%;
    margin:5% auto 0 auto;
    border:2px solid red;
    padding:1%;
    overflow: hidden;
}

.img{
    width: min(300px, 80%);
    display: inline-block;
}

.popup-button{
    display: block;
}

.popup .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.popup-content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--dark-gray);
    text-align: center;
    color: white;
    padding: 14px 28px;
    border-radius: 10px;
    width: 70%;
    z-index: 2;
    overflow-y: scroll;
    max-height: 90%;
}

.ingredientImage{
    max-width: 100px;
}

.generatedIngredients{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: inline-block;
    width: 33%;
}

.popup-part1{
    width:40%;
}

.popup-part2{
    display: flex;
}

.padding-top-bot-5{
    padding-top: 5%;
    padding-bottom: 5%;
}