/*--------------------------------- Removing lateral scroll on mobile ---------------------------------*/

html, body {
    overflow-x: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","SF Pro","SF Pro Icons",
    "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  
body {
    height:100vh;
    position: relative;
    color:white;
    background-color: black;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 500px ),
    repeating-linear-gradient( #ff7300a4, #ff7300 );
    backdrop-filter: blur(15px);
  }